<div class="header" style="padding-top: 0;">
    <div class="container">
        @Html.ActionLink("Login", "Login", "Home", new {@class="button"})
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var tokenKey = "tokenInfo";
            if (sessionStorage.getItem(tokenKey) !== null) {
                $("#loginSuccessPanel").css("display", "block");
            }

            // Logout
            $("#logOut").click(function(e) {
                e.preventDefault();
                $("#loginSuccessPanel").css("display", "none");
                $("#userName").html("");
                sessionStorage.removeItem(tokenKey);
            });
        });
    </script>
}