<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12" id="notesList">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7" id="noteDetails">
            <h2>No note selected</h2>
        </div>
    </div>

    <a class="round-button" id ="newNoteLink"><h1>+</h1></a>
    <!-- Loading indicator -->
    <div class="loader"></div>
</div>

<script type="text/javascript">
    function bin2String(array) {
        var result = "";
        for (var i = 0; i < array.length; i++) {
            result += String.fromCharCode(parseInt(array[i], 2));
        }
        return result;
    }

    $(document).ready(function () {
        $.ajax({
            url: "/api/notes",
            type: "GET",
            headers: { "Authorization": "Bearer " + localStorage.getItem("token") },
            success: function (data) {
                if (data.length !== 0) {
                    for (var i = 0; i < data.length; i++) {
                        var html = "<a style=\"cursor: pointer\" class=\"list-group-item clearfix\" id=\"" + data[i].Id + "\">" + "<span class=\"pull - left\">";

                        if (data[i].Photos[0] != null) {
                            html += "<img src=\"data:image/gif;base64, " +
                                bin2String(data[i].Photos[0].Image) +
                                "alt=\"Note photo\" class=\"img-responsive\" " +
                                "style=\"max-width: 160px; max-height: 100px;\" />";
                        }
                        html += "</span>";
                        html += "<div class=\"pull-right text-container\"><h4 class=\"list-group-item-heading\">" + moment(data[i].CreationDate).format("LL") + "</h4>" +
                            "<p class=\"list-group-item-text\">" + data[i].Description + "</p></div></a>";

                        $("#notesList").append(html);

                        $(".list-group-item").click(function () {
                            $(".loader").show();
                            $(this.parentElement.children).removeClass("active");
                            $(this).addClass("active");
                            $(this).css({ "z-index": 0 });
                            $("#noteDetails").load("@Url.Action("NoteDetals", "Home")", { "id": this.id });
                        });
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
        
        $(".loader").hide();

        $("#newNoteLink").click(function() {
            $("#formsContainer").load("@Url.Action("CreateNote","Home")");
        });
    });
</script>