@{
    ViewBag.Title = "Register";
}

<div class="header">
    <div class="container">
        <div class="alert alert-success fade in" id="registerSuccessAlert" role="alert" style="display: none;">
            <strong>Register successful</strong>
        </div>
        <div class="alert alert-danger fade in" id="registerFailedAlert" role="alert" style="display: none;">
            <strong>Register failed</strong>
        </div>

        <!-- Register form -->
        <div id="registerform">
            <h2>Register</h2>
            <hr />
            <div>
                <label for="registerUsername">User name</label>
                <input type="text" class="form-control input-control" id="registerUsername" />
            </div>

            <div>
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control input-control" id="registerPassword" />
            </div>

            <div>
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control input-control" id="confirmPassword" />
            </div>
            <p>Already have an account? @Html.ActionLink("Login", "Login", "Home")</p>
            <br />
            <input type="button" id="submitRegister" class="button success" value="Register" />
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // Register
            $("#submitRegister").click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $("#registerUsername").val(),
                    Password: $("#registerPassword").val(),
                    ConfirmPassword: $("#confirmPassword").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/api/Account/Register",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function () {
                        window.location.href = "@Url.Action("Login","Home")";
                        $("#registerSuccessAlert").css("display", "block");
                        setTimeout("$('#registerSuccessAlert').css('display', 'none');", 3000);
                    },
                    error: function () {
                        $("#registerFailedAlert").css("display", "block");
                        setTimeout("$('#registerFailedAlert').css('display', 'none');", 3000);
                    }
                });
            });
        });
    </script>
}
