<div class="container">
    <div class="alert alert-success fade in" id="registerSuccessAlert" role="alert" style="display: none;">
        <strong>Register successful</strong>
    </div>
    <div class="alert alert-danger fade in" id="registerFailedAlert" role="alert" style="display: none;">
        <strong>Register failed</strong>
    </div>

    <!-- Register form -->
    <div id="registerform">
        <h2>Register</h2>
        <hr />
        <div>
            <label for="registerUsername">User name</label>
            <input type="text" class="form-control input-control" id="registerUsername" />
        </div>

        <div>
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control input-control" id="registerPassword" />
        </div>

        <div>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control input-control" id="confirmPassword" />
        </div>
        <p>Already have an account? @Ajax.ActionLink("Login", "Login", new AjaxOptions { UpdateTargetId = "formsContainer" })</p>
        <br />
        <input type="button" onclick="register()" id="submitRegister" class="button success" value="Register" />
    </div>
</div>