
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Reminder application!</h2>

<p>Please click on Login button to login to the app.</p>

<a asp-area="" asp-controller="Account" asp-action="Login" class="button button-info">Login</a>
