<div class="container">
    <div class="alert alert-success fade in" id="loginSuccessAlert" role="alert" style="display: none;">
        <strong>Login successful</strong>
    </div>
    <div class="alert alert-danger fade in" id="loginFailedAlert" role="alert" style="display: none;">
        <strong>Login failed</strong>
    </div>

    <!-- Login form -->
    <div id="loginform">
        <h2>Login</h2>
        <hr />
        <div>
            <label for="username">User name</label>
            <input type="text" class="form-control input-control" id="username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control input-control" id="password" />
        </div>
        <p>Don't have an account? @Ajax.ActionLink("Register", "Register", new AjaxOptions { UpdateTargetId = "formsContainer" })</p>
        <br />
        <input type="button" onclick="login()" id="submitLogin" class="button button-info" value="Login" />
    </div>
</div>