.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload + label {
    border: none; /* Remove borders */
    color: black; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer;
    background-color: #e7e7e7;
    display: inline-block;
  }
  
  .upload:focus + label {
    cursor: pointer;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }