@using IdentityServer.Controllers.Account
@model LoggedOutViewModel
@{
    ViewData["Title"] = "LoggedOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Logout
    <small>You are now logged out</small>
</h1>

@if (Model.PostLogoutRedirectUri != null)
{
    <div>
        Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
        <span>@Model.ClientName</span> application.
    </div>
}

@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}

@section scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script type="text/javascript">
            window.addEventListener("load", function () {
                var a = document.querySelector("a.PostLogoutRedirectUri");
                if (a) {
                    window.location = a.href;
                }
            });
        </script>
    }
}