.header {
    background-size: auto;
    height: 100vh;
    background: url("../../../assets/img/mainpage_background.jpg") fixed no-repeat center;
    color: white;
  }
  
  hr {
    max-width: 250px;
    margin-left: 0;
  }
  
  input {
    background: transparent;
    max-width: 250px;
    border-radius: 0;
    height: 50px;
    color: white;
  }
  
  button {
    width: 250px;
  }